{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
charts
{% endblock %}

{% block styles %}
{{super()}}
<!-- Include Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<style>
  .logo-box {
    position: absolute;
    top: 170px;
    left: -500px;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    animation-name: box-shadow-color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  
  @keyframes box-shadow-color {
    0% {
      box-shadow: 0px 0px 40px rgba(255, 1, 1, 0.3);
    }
    50% {
      box-shadow: 0px 0px 20px rgba(10, 220, 192, 0.6);
    }
    100% {
      box-shadow: 0px 0px 20px rgba(255, 0, 0, 0.3);
    }
  }
  
  .logo-box img {
    height: 132px;
    width: auto;
  }
  table {
			border-collapse: collapse;
			width: 100%;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		}

		th, td {
			padding: 8px;
			text-align: left;
			border-bottom: 1px solid #ddd;
		}

		th {
			background-color: #f2f2f2;
		}

		tr:hover {
			background-color: #f5f5f5;
		}
</style>
{% endblock %}

{% block content %}

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-8">
        <div id="pie-chart"></div>
      </div>
      <div class="col-lg-4">
        <div class="logo-box">
          <img src="https://github.com/aliyevom/App-Hawkincloud/blob/master/src/static/pics/logo__4-removebg.png?raw=true" alt="Logo">

        </div>
      </div>
    </div>

  </div>

  <table>
		<thead>
			<tr>
				<th>Bucket Name</th>
			</tr>
		</thead>
		<tbody>
			{% for bucket in buckets %}
				<tr>
					<td>{{ bucket }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

</body>
{% endblock %}
